.flip-container:hover .newscard-container {
  transform: rotateY(180deg);
}
.news-image {
  width: 100%;
  margin: 0px;
}

.news-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flip-container {
  width: 240px;
  height: 350px;
  margin: 5px;
  margin: 5px;
  perspective: 1000px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 0px;
}

.articles-container {
  /* width: 100%; */
  /* border: solid green 1px; */
}

.newscard-container {
  transition: 0.6s;
  transform-style: preserve-3d;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1px;

  /* border: solid red 3px; */
}

.newscard-front {
  width: 100%;
  /* height: 400px; */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-weight: bold;
  z-index: 2;
  transform: rotateY(0deg);
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.54);
  background-color: white;
  /* padding-left: 2px;
  padding-right: 2px; */
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 0px;
  margin-bottom: 1px;
}
.newscard-back {
  width: 100%;
  /* height: 400px; */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /* border: solid red 3px; */
  transform: rotateY(180deg);
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.54);
  /* border-radius: 8px; */
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.fav-button {
  background-color: red;
}

.title {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.source {
  border-top: solid black 1px;
}

.newscard-back a {
  border-top: solid black 1px;
  text-decoration: none;
  color: black;
  margin-bottom: 8px;
  transition: 0.4s;
}

.newscard-back a:hover {
  text-decoration: none;
  color: red;
  margin-bottom: 8px;
}
