.pill-wrapper {
  height: 50px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 9;
  max-width: 224px;
}

.pill-button {
  height: 32px;
  background-color: black;
  /* opacity: 0.8; */
  margin: 2px;
  color: #ebf5ee;
  font-size: 16px;
  font-weight: 900;
}

.pill-button:hover {
  background-color: #dd99bb;
}
