body {
  padding-top: 0px;
  background-color: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

.app-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewnav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 50px;
  padding: 6px;
  width: 100%;
  background-color: black;
  /* opacity: 0.8; */
  margin-top: 0px;
}

.viewnav-bar a {
  /* margin: 10px; */
  text-decoration: none;
  color: white;
  margin: 5px;
  font-size: 32px;
  padding-bottom: 3px;
  /* animation: fadeOut 0.2s linear; */
}

.viewnav-bar a:visited {
  text-decoration: none;
}

a.active {
  /* color: #164975; */
  padding-bottom: 0px;
  border-bottom: solid white 3px;
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
